/* Gloabl styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow-x: hidden;  
  font-family: Arial, sans-serif;
  transition: background-color 0.3s ease, color 0.3s ease; /* smooth transition for dark mode */
}

/* Layout style */
.app-container {
  display: flex;
  flex-direction: column; 
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

/* Header */
.header {
  background-color: #f0f0f0;
  padding: 1rem;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid #c1bfbf;
  transition: background-color 0.1s ease, 
              color 0.1s ease;
}

/* sidebar + main content */
.main-layout {
  display: flex;
  flex: 1; /* occupy space beneath header */
  overflow: hidden; 
}

/* Main container */
.main-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden; 
}

.customize-bar {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-bottom: 1.5px solid #c1bfbf;
  text-align: center;
  justify-content: center;
  flex-shrink: 0; 
  height: 70px; 
  display: flex;
  padding: 1rem;
}

/* main content page with scroll */
main {
  flex: 1;
  padding: 1rem;
  overflow-y: auto; 
  scrollbar-width: none;
}

/* Dark mode styles */
.dark {
  background-color: #121212;
  color: #f8f9fa;
}

.dark .main-content {
  background-color: #121212;
  color: #f8f9fa;
}

.dark .header {
  background-color: #1a1a1a;
  border-color: #343a40;
}

.dark .highcharts-figure,
.dark .highcharts-description {
  background-color: #1e1e1e;
  color: #adb5bd;
}

.dark .customize-bar {
  box-shadow: 0 2px 4px rgba(71, 71, 71, 0.3);
}